.modal__overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.473);
  transform: translateZ(1000px);
  perspective: 1000px;
  .modal__container {
    position: relative;
    z-index: 2;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    background-color: #fff;
    border: 3px solid #000;
    cursor: auto;
    .modal__project__content {
      z-index: 3000;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "title tech"
        "desc img"
        "buttons img";
      align-items: center;
      padding: 30px 50px;
      box-sizing: border-box;
      .modal__project__content--close {
        position: absolute;
        top: 3%;
        right: 3%;
        font-size: 1.5rem;
        cursor: pointer;
      }
      .modal__project__title {
        grid-area: title;
      }
      h2 {
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 3rem;
        margin: 0;
      }
      .modal__project__img {
        grid-area: img;
        margin-left: 15px;
        margin-top: 30px;
        width: 100%;
        align-self: baseline;
        img {
          max-width: 100%;
        }
      }
      .modal__project__desc {
        grid-area: desc;
        min-width: 50%;
        padding-right: 50px;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
      }
      .modal__project__tech {
        grid-area: tech;
        height: 20px;
        margin-top: 20px;
        width: 100%;
        span {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: #fdffe0;
          color: #fff;
          margin: 0 5px;
          padding: 5px;
          font-size: 1.2rem;
          color: #000;
          border: 3px solid #000;
          i {
            margin-right: 8px;
            font-size: 1.5rem;
            color: #000;
          }
        }
      }
      .modal__project__buttons {
        grid-area: buttons;
        min-width: fit-content;
        a {
          button {
            font-weight: 700;
            font-size: 1rem;
            box-shadow: 8px 10px 4px rgb(0 0 0 / 25%);
            border: 3px solid #000;
            padding: 10px 20px;
            margin-right: 1.5rem;
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.27' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
            background-size: 12px;
            color: #000;
            text-shadow: 2px 2px 6px #ffffff;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .modal__overlay {
    .modal__container {
      width: 80%;
      height: 80%;
      top: 3%;
      .modal__project__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        gap: 20px;
        padding: 5%;
        h2 {
          font-size: 2rem;
        }
        .modal__project__content--close {
          top: 4%;
          right: 5%;
        }
        .modal__project__desc {
          padding-right: 0;
          p {
            margin: 0;
          }
        }
        .modal__project__img {
          margin: 0;
        }
        .modal__project__tech {
          margin: 0;
          span {
            margin: 0;
            margin-right: 3px;
            font-size: 1rem;
            i {
              font-size: 1.2rem;
            }
          }
        }
        .modal__project__buttons {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          a {
            width: 30%;
            margin-right: 10px;
            button {
              font-size: 0.9rem;
              padding: 4% 8%;
              height: 50px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
