.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 99px;
  right: 0;
  height: 100%;
  width: 2px;
  background: #8390fa;
  transform-origin: top;
  opacity: 0.5;
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
